@font-face {
    font-family: Garamond;
    src: url(Fonts/EBGaramond-VariableFont_wght.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url(Fonts/EBGaramond-Italic-VariableFont_wght.ttf);
    font-style: italic;
}

@font-face {
    font-family: Tratatello;
    src: url(Fonts/Trattatello.ttf);
}

@font-face {
    font-family: 'BE' ;
    src: url(Fonts/BEGaramond-Regular.ttf);
}

body {
    padding-top: 15rem;
    background-color:rgba(187, 139, 65, .3);
}

div.difference {
    position: absolute;
    padding: 0px;
    margin: 0px;
    height: 200vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(118, 91, 167, 0.2) 0%, rgba(118, 91, 167, .5) 50%, rgba(118, 91, 167, 0) 90%);
    z-index: -10;
    top: 0;
    left: 0;
}

div.toc {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    top: 1rem;
    right: 2rem;
}

div.toc a {
    font-size: 1rem;
    font-family: 'Garamond';
    color: rgb(187, 139, 65);
    -webkit-transform: scaleY(103%);
    font-weight: 500;
    text-align: right;
    text-decoration: none;
}

div.toc a.mainchapter {
    font-size: 1rem;
    font-family: 'Tratatello';
    color: rgba(118, 91, 167, 1);
    -webkit-transform: scaleY(103%);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

div.toc a.mainchapter:hover {
    font-weight: 600;
}

div.feed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

div.text {
    position: relative;
    font-family: Garamond;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 100;
    max-width: 60ch;
    padding-bottom: 10rem;
    padding-top: 10rem;
    color: rgb(118, 91, 167);
}

p {
    position: relative;
    text-align: justify;
    text-align-last: center;
    margin: 0px;
    padding: 0;
    -webkit-transform: scaleY(103%);
}

div.shortbio p {
    font-family: 'Garamond';
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 100;
    width: 45ch;
    padding-bottom: 10rem;
    padding-top: 5rem;
    color: rgb(118, 91, 167);
    position: relative;
    text-align: justify;
    -webkit-transform: scaleY(103%);
}

div.tratatello2 h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

div.tratatello2  {
    font-family: 'Tratatello';
    font-size: 2rem;
    text-align: center;
    line-height: 2.2rem;
    color: rgb(187, 139, 65);
    -webkit-transform: rotate(3deg);
    margin-bottom: 4rem;
}

div.tratatello2 p {
    text-align: center;
}

div.tratatello h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

div.tratatello  {
    font-family: 'Tratatello';
    font-size: 2rem;
    text-align: center;
    line-height: 2.2rem;
    color: rgb(187, 139, 65);
    -webkit-transform: rotate(-3deg);
    margin-bottom: 4rem;
}

div.tratatello p {
    text-align: center;
}

span {
    float: left;
    line-height: 85%;
    width: .7em;
    font-size: 270%;
    font-weight: 100;
  }

a.indent{
    margin-left: 1rem;
    
}

div.headerornaments {
    width: max-content;
    padding-top: 0rem;
    z-index: 10;
    mix-blend-mode: multiply;
    filter: hue-rotate(210deg);
}

img.headerornament {
        object-fit: contain;
        width: 12vw;
        margin-bottom: -.2rem;
        margin-right: .1rem;
        margin-left: .1rem;
        z-index: 9;
}

h1.title {
    font-family: 'Garamond';
    font-size: 11vw;
    font-weight: 100;
    margin-top: 0rem;
    padding-top: 0rem;
    margin-bottom: 0rem;
    text-align: center;
    color: rgb(118, 91, 167);
    -webkit-transform: scaleY(103%);
    min-width: max-content;
}

h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    color: rgb(187, 139, 65);
    padding: 1rem;
    margin-top: 10rem;
    -webkit-transform: scaleY(103%);
}

img.ornament{
    object-fit: contain;
    height: .9rem;
    margin-bottom: -.2rem;
    margin-right: .1rem;
    margin-left: .1rem;
}

div.underline {
    position: relative;
    height: 1px;
    margin-top: -1.25rem;
    margin-bottom:0rem;
    background: linear-gradient(90deg, rgba(187, 139, 65,0) 0%, rgb(187, 139, 65,1) 50%, rgba(187, 139, 65,0) 100%);}

h2 {
    font-weight: 100;
    font-size: 1.8rem;
    margin-top: 3rem;
    text-align: center;
    -webkit-transform: scaleY(103%);
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 3rem;
    text-align: center;
    -webkit-transform: scaleY(103%);
}

em {
    font-family: 'Garamond';
    font-style: italic;
}


div.links {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    column-gap: 0.5rem;
    width: 10vw;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.button {
    position: relative;
    font-size: 1rem;
    font-family: 'Tratatello';
    color: rgba(118, 91, 167, 1);
    opacity: 100%;
    transform: rotate(0deg);
    transition: font-weight .1s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    text-align: right;
    -webkit-transform: scaleY(103%);
    font-weight: 500;
}

.buttongold {
    position: relative;
    font-size: 1rem;
    font-family: 'Tratatello';
    color: rgb(187, 139, 65,1);
    opacity: 100%;
    transform: rotate(0deg);
    transition: font-weight .1s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    text-align: right;
    -webkit-transform: scaleY(103%);
    font-weight: 500;
}

div.links a:hover {
    font-weight: 1000;
}

div.illustration img{
    position: absolute;
    object-fit: contain;
    -webkit-transform: scale(12%);
    left: -43rem;
    top: 31rem
}

div.illustration2 img{
    position: absolute;
    object-fit: contain;
    -webkit-transform: scale(30%,30%);
    left: -33rem;
    top: 91rem;
}

div.illustration3 img{
    position:absolute;
    object-fit: contain;
    -webkit-transform: scale(13%,13%);
    left: -19.5rem;
    top: 154.5rem;
}

div.illustration4 img {
    position:absolute;
    object-fit: contain;
    -webkit-transform: scale(13%,13%) rotate(15deg);
    top: 221rem;
    left: -57.5rem;
    z-index: -10;
}

div.illustration5 img {
    position: absolute;
    object-fit: contain;
    -webkit-transform: scale(.14,.14);    
    top: 4.5rem;
    left: -60rem;
}

@media (max-width:850px) {
    body {
        padding-top: 15rem;
        background-color:rgba(187, 139, 65, .3);
    }
    
    div.difference {
        position: absolute;
        padding: 0px;
        margin: 0px;
        height: 200vh;
        width: 100vw;
        background: linear-gradient(180deg, rgba(118, 91, 167, 0.2) 0%, rgba(118, 91, 167, .5) 50%, rgba(118, 91, 167, 0) 90%);
        z-index: -10;
        top: 0;
        left: 0;
    }
    
    div.toc {
        position: fixed;
        display: flex;
        flex-flow: column nowrap;
        top: 1rem;
        right: 2rem;
    }
    
    div.toc a {
        font-size: .8rem;
        font-family: 'Garamond';
        color: rgb(187, 139, 65);
        -webkit-transform: scaleY(103%);
        font-weight: 500;
        text-align: right;
        text-decoration: none;
    }
    
    div.toc a.mainchapter {
        font-size: .8rem;
        font-family: 'Tratatello';
        color: rgba(118, 91, 167, 1);
        -webkit-transform: scaleY(103%);
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    div.toc a.mainchapter:hover {
        font-weight: 600;
    }
    
    div.feed {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        overflow: hidden;
    }
    
    div.text {
        position: relative;
        font-family: Garamond;
        font-size: 1rem;
        line-height: 1.2rem;
        font-weight: 100;
        max-width: 45ch;
        padding-bottom: 10rem;
        padding-top: 10rem;
        color: rgb(118, 91, 167);
    }
    
    p {
        position: relative;
        text-align: justify;
        text-align-last: center;
        margin: 0px;
        padding: 0;
        -webkit-transform: scaleY(103%);
    }
    
    div.shortbio p {
        font-family: 'Garamond';
        font-size: 1.4rem;
        line-height: 1.6rem;
        font-weight: 100;
        max-width: 40ch;
        padding-bottom: 10rem;
        padding-top: 5rem;
        color: rgb(118, 91, 167);
        position: relative;
        text-align: justify;
        -webkit-transform: scaleY(103%);
    }
    
    div.tratatello2 h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    div.tratatello2  {
        font-family: 'Tratatello';
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.6rem;
        color: rgb(187, 139, 65);
        -webkit-transform: rotate(3deg);
        margin-bottom: 4rem;
    }
    
    div.tratatello2 p {
        text-align: center;
    }
    
    div.tratatello h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    div.tratatello  {
        font-family: 'Tratatello';
        font-size: 1.4rem;
        text-align: center;
        line-height: 1.6rem;
        color: rgb(187, 139, 65);
        -webkit-transform: rotate(-3deg);
        margin-bottom: 4rem;
    }
    
    div.tratatello p {
        text-align: center;
    }
    
    span {
        float: left;
        line-height: 85%;
        width: .7em;
        font-size: 270%;
        font-weight: 100;
      }
    
    a.indent{
        margin-left: 1rem;
        
    }
    
    div.headerornaments {
        width: max-content;
        padding-top: 0rem;
        z-index: 10;
        mix-blend-mode: multiply;
        filter: hue-rotate(210deg);
    }
    
    img.headerornament {
            object-fit: contain;
            width: 12vw;
            margin-bottom: -.2rem;
            margin-right: .1rem;
            margin-left: .1rem;
            z-index: 9;
    }
    
    h1.title {
        font-family: 'Garamond';
        font-size: 10vw;
        font-weight: 100;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-bottom: 0rem;
        text-align: center;
        color: rgb(118, 91, 167);
        -webkit-transform: scaleY(103%);
        min-width: max-content;
    }
    
    h1 {
        text-align: center;
        font-size: 1rem;
        font-weight: 100;
        color: rgb(187, 139, 65);
        padding: 1rem;
        margin-top: 10rem;
        -webkit-transform: scaleY(103%);
    }
    
    img.ornament{
        object-fit: contain;
        height: .9rem;
        margin-bottom: -.2rem;
        margin-right: .1rem;
        margin-left: .1rem;
    }
    
    div.underline {
        position: relative;
        height: 1px;
        margin-top: -1.25rem;
        margin-bottom:0rem;
        background: linear-gradient(90deg, rgba(187, 139, 65,0) 0%, rgb(187, 139, 65,1) 50%, rgba(187, 139, 65,0) 100%);}
    
    h2 {
        font-weight: 100;
        font-size: 1.8rem;
        margin-top: 3rem;
        text-align: center;
        -webkit-transform: scaleY(103%);
    }
    
    h3 {
        font-weight: 500;
        font-size: 1.3rem;
        margin-top: 3rem;
        text-align: center;
        -webkit-transform: scaleY(103%);
    }
    
    em {
        font-family: 'Garamond';
        font-style: italic;
    }
    
    
    div.links {
        position: fixed;
        right: 2rem;
        bottom: 1rem;
        column-gap: 0.5rem;
        width: 10vw;
        height: 10vh;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: flex-end;
    }
    
    .button {
        position: relative;
        font-size: 1rem;
        font-family: 'Tratatello';
        color: rgba(118, 91, 167, 1);
        opacity: 100%;
        transform: rotate(0deg);
        transition: font-weight .1s ease-in-out;
        cursor: pointer;
        text-transform: uppercase;
        text-align: right;
        -webkit-transform: scaleY(103%);
        font-weight: 500;
    }
    
    .buttongold {
        position: relative;
        font-size: 1rem;
        font-family: 'Tratatello';
        color: rgb(187, 139, 65,1);
        opacity: 100%;
        transform: rotate(0deg);
        transition: font-weight .1s ease-in-out;
        cursor: pointer;
        text-transform: uppercase;
        text-align: right;
        -webkit-transform: scaleY(103%);
        font-weight: 500;
    }
    
    div.links a:hover {
        font-weight: 1000;
    }
    
    div.illustration img{
        position: absolute;
        object-fit: contain;
        -webkit-transform: scale(12%);
        left: -43rem;
        top: 31rem
    }
    
    div.illustration2 img{
        position: absolute;
        object-fit: contain;
        -webkit-transform: scale(30%,30%);
        left: -33rem;
        top: 91rem;
    }
    
    div.illustration3 img{
        position:absolute;
        object-fit: contain;
        -webkit-transform: scale(13%,13%);
        left: -19.5rem;
        top: 154.5rem;
    }
    
    div.illustration4 img {
        position:absolute;
        object-fit: contain;
        -webkit-transform: scale(13%,13%) rotate(15deg);
        top: 221rem;
        left: -57.5rem;
        z-index: -10;
    }
    
    div.illustration5 img {
        position: absolute;
        object-fit: contain;
        -webkit-transform: scale(.14,.14);    
        top: 4.5rem;
        left: -60rem;
    }
    
}
